HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
devel
terrestrial_tutor.iml

### Local files ###
/public

### DB ###
/db_snapshots/backups
/db_snapshots/init

### PgAdmin ###
/pgadmin

