<div class="row">
    <div ngbDropdown class="col-6 col-md-5 col-lg-4 m-auto mx-0">
      <input 
          placeholder="Выберете" 
          #tutorSearch
          [value]="constructString(currentItem)"
          class="p-2 col-12"
          (focusout)="tutorSearch.value = constructString(currentItem)"
          ngbDropdownToggle
      >
      <div ngbDropdownMenu class="dropdown-menu text-left">
        @for (value of values; track value._id) {
            <button 
                class="drop-btn btn-primary"
                ngbDropdownItem
                (click)="currentItem = value; changed.emit(currentItem)"
            >
              {{ constructString(value) }}
            </button>  
        }
      </div>
    </div>
</div>