<div class="container mb-4 col-8 col-md-6 col-lg-4">
  <div *ngIf="!height && !width" class="col-12 mx-auto">
    <div class="row mt-1 mb-1 justify-content-center mx-auto text-center ">
      <input #rows class="col-3 mx-1 text-center p-1 mb-1" placeholder="Строки">
      <input #cols class="col-3 mx-1 text-center mb-1" placeholder="Колонки">
      <button class="btn btn-primary col-4 p-1 mx-1" (click)="renderTable();returnTable()">Применить</button>
    </div>
  </div>
  <form [formGroup]="tableForm">
    <div>
      <div class="table-responsive">
        <table class="table m-0 mx-auto">
          <tbody class="overflow-scroll" *ngFor="let row of table.value; let i = index">
          <tr>
            <td *ngFor="let element of row; let j = index">
              <input (input)="returnTable()" class="m-1" [formControl]="element" [defaultValue]="''" placeholder="Значение">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
