.table-responsive {
  max-height: 300px;
  max-width: 300px;

  .table>:not(caption)>*>* {
    background-color: #1E1E1E !important;
  }

  td {
    width: 70px;
  }
  input {
    width: 70px;
    padding: 10px;
  }

  tbody, td, tfoot, th, thead, tr {
    border: 0;
  }

  .table {
    width: 0;
    margin: auto;
  }

  @media only screen and (min-width: 568px) {
    td {
      width: 70px;
    }
    input {
      width: 70px;
    }
    max-width: 500px;
  }

  @media only screen and (min-width: 960px) {
    max-width: 768px;
  }
}
