<ng-template #content let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Выбор ученика</h4>
        <button class="btn-primary p-2 mx-2" (click)="save()">Сохранить</button>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Поиск:</label>
            <div class="col-6">
              <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
            </div>
          </div>
        </form>
        <div *ngIf="pupils.length === 0" class="spinner-border" role="status"></div>
        <div class="table-responsive">
          <table *ngIf="pupils.length > 0">
            <thead>
            <tr>
              <th class="overflow-hidden" scope="col">Выбор</th>
              <th class="overflow-hidden" scope="col">Фамилия</th>
              <th class="overflow-hidden" scope="col">Имя</th>
              <th class="overflow-hidden" scope="col">Отчество</th>
              <th class="overflow-hidden" scope="col">Почта</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pupil of fiteredPupils">
                <td class="overflow-hidden text-center"><input type="checkbox" width="20px" [(ngModel)]="selectedPupils[pupil.id]" /></td>
                <td class="overflow-hidden" (click)="selectedPupils[pupil.id] = !selectedPupils[pupil.id]"><ngb-highlight [result]="pupil.surname" [term]="filter.value ?? ''"></ngb-highlight></td>
                <td class="overflow-hidden" (click)="selectedPupils[pupil.id] = !selectedPupils[pupil.id]"><ngb-highlight [result]="pupil.name" [term]="filter.value  ?? ''"></ngb-highlight></td>
                <td class="overflow-hidden" (click)="selectedPupils[pupil.id] = !selectedPupils[pupil.id]"><ngb-highlight [result]="pupil.patronymic" [term]="filter.value  ?? ''"></ngb-highlight></td>
                <td class="overflow-hidden" (click)="selectedPupils[pupil.id] = !selectedPupils[pupil.id]"><ngb-highlight [result]="pupil.username" [term]="filter.value  ?? ''"></ngb-highlight></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</ng-template>

<button class="btn btn-primary col-12" (click)="open(content)">Выбрать учеников</button>
