<ng-template #content let-modal>
    <div class="modal-body">
        @for(pupil of pupils; track pupil) {
            <a class="m-2 p-0 col-2" 
                [routerLink]="['/tutor/' + tutorId + '/homework/checking']"
                [queryParams]="{homework: homeworkId, pupil: pupil.id}"
            >
                <button (click)="modal.dismiss()" class="col-12 btn btn-primary p-1">
                    {{pupil.surname + ' ' + pupil.name + ' ' + pupil.patronymic}}
                </button>
            </a>
        }
    </div>
</ng-template>

<button class="col-12 btn btn-primary" (click)="open(content)"></button>