table {
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    padding: 8px;
}

tr {
    transition-duration: 0.5s;
}

tr:hover {
    background-color: #1e1e1e;
    cursor: pointer;
    transition-duration: 0s;
}