<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Выбор ученика</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table>
                <thead>
                    @for (pupilField of pupilFields|keyvalue; track pupilField) {
                        <th>
                            {{pupilField.value}}
                        </th>
                    }
                    <th> 
                        Кол-во попыток
                    </th>
                    <th> 
                        Балл лучшей попытки
                    </th>
                </thead>
                <tbody>
                    @for(pupil of pupils; track pupil) {
                        <tr
                            (click)="modal.dismiss()" 
                            [routerLink]="['/tutor/' + tutorId + '/homework/checking']"
                            [queryParams]="{homework: homeworkId, pupil: pupil.id}"
                        >
                            @for (pupilField of pupilFields|keyvalue; track pupilField) {
                                <td>
                                    {{pupil[pupilField.key]}}
                                </td>
                            }
                            <td>
                                {{pupil.attempt.attemptCount}}
                            </td>
                            <td>
                                {{getAttemptPoints(pupil.attempt)}}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<button class="p-1 col-10 col-md-6 btn btn-primary" (click)="open(content)">Ученики</button>