<ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTab">
  <li [ngbNavItem]="1">
    <a class="mx-3" ngbNavLink (click)="navigate(1)">Создать ДЗ</a>
    <ng-template ngbNavContent>
      <div *ngIf="!currentSubjects || !pageLoaded" class="row m-3 col-12 spinner-border" role="status"></div>
      <div *ngIf="currentSubjects && pageLoaded" class="container-fluid px-3 pb-3">
        <div class="container-fluid mx-auto p-3  min-vh-100 border-opacity-25 rounded-4 border border-2 col-12 plate text-le">
          <h2 class="mx-3 mb-5">Ваши предметы</h2>
          <div class="d-inline" *ngFor="let subject of currentSubjects">
            <button class="m-3 col-2 btn btn-primary" style="height: 15vh" (click)="addHW(subject)">
              <h3>{{ subject.subjectName }}</h3>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="2">
    <a (click)="getCheckingHomeworks();navigate(2)" class="mx-3" ngbNavLink>Назначить ДЗ</a>
    <ng-template ngbNavContent>
      <div *ngIf="!currentSubjects || !pageLoaded" class="row m-3 col-12 spinner-border" role="status"></div>
      <div *ngIf="currentSubjects && pageLoaded" class="container-fluid px-3 pb-3">
        <div class="container-fluid mx-auto p-3  min-vh-100 border-opacity-25 rounded-4 border border-2 col-12 plate text-le">
          <div class="d-inline" *ngFor="let subject of currentSubjects">
            <h2>{{ subject.subjectName }}</h2>
            <div class="row">
              <div class="m-2 p-0 col-2" *ngFor="let homework of filterHomeworks(subject.subjectName)">
                <button *ngIf="homework.subject == subject.subjectName" class="col-12 btn btn-primary" (click)="addPupils(homework)">
                  <h3>{{ homework.name }}</h3>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="3">
    <a (click)="getCheckingHomeworks();navigate(3)" class="mx-3" ngbNavLink>Проверка ДЗ</a>
    <ng-template ngbNavContent>
        <div *ngIf="!currentSubjects || !pageLoaded" class="row m-3 col-12 spinner-border" role="status"></div>
        <div *ngIf="pageLoaded">
          <table class="mx-auto mt-3 checking">
            <thead>
              @for (prop of Object.keys(homeworkProps); track prop) {
                <th>
                  {{homeworkProps[prop]}}
                </th>
              }
              <th>
                Проверка
              </th>
              <th>
                Изменить
              </th>
            </thead>
            <tbody>
              @for(homework of homeworks; track homework) {
                <tr>
                  @for (prop of Object.keys(homeworkProps); track prop) {
                      <td class="p-2">
                        @if(homework[prop]) {
                          {{homework[prop]}}
                        }
                      </td>
                  }
                  <td class="text-center p-2">
                    <pupils-modal class="mx-auto" [tutorId]="tutorId" [homeworkId]="homework.id ?? -1" [pupilIds]="homework.pupilIds"></pupils-modal>
                  </td>
                  <td class="text-center p-2">
                    <a routerLink="/tutor/{{tutorId}}/constructor/{{homework.id}}" [queryParams]="{tab: 3}">
                      <button class="p-1 col-12 col-md-6 btn btn-primary">Изменить</button>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
