<div class="container mt-1">
  <h2 class="text-center">Создание задания</h2>
  <div *ngIf="!pageLoaded" class="row m-3 col-12 spinner-border" role="status"></div>
  <form *ngIf="pageLoaded" [formGroup]="taskForm" class="mt-5" (input)="pageUnload()">

    <div class="container mb-3">
      <div class="row mb-3 justify-content-center text-center">
        <div class="col-7 col-md-4 col-lg-3 mb-3">
          <h5 class="mb-1 text-uppercase fw-bold">Название задания <strong class="text-danger">*</strong></h5>
          <input class="m-1 p-3 col-12 text-center" formControlName="taskName" placeholder="Введите название"
                 [ngClass]="{'is-invalid': invalid('taskName')}">
          <div class="invalid-feedback col-4">Название обязательно</div>
        </div>

        <div class="col-7 col-md-4 col-lg-3">
        <h5 class="mb-1 text-uppercase fw-bold">Тип <strong class="text-danger">*</strong></h5>
        <div ngbDropdown class="col-12 d-inline-block">
          <button type="button" class="drop-btn btn-primary m-1 p-3 col-12"
                  (focusout)="taskForm.controls['answerType'].markAsTouched()"
                  [ngClass]="{'is-invalid': invalid('answerType')}" ngbDropdownToggle>
            {{answerTypes[taskForm.controls['answerType'].value]
              ? answerTypes[taskForm.controls['answerType'].value]
              : taskForm.controls['answerType'].value}}
          </button>
          <div ngbDropdownMenu class="text-center col-12">
            <button ngbDropdownItem class="nav-btn col-12" *ngFor="let answerType of answerTypes | keyvalue"
                    (click)="typeChange(answerType.key)">{{ answerType.value }}</button>
          </div>
          <div *ngIf="invalid('answerType')" class="invalid-feedback col-4">Тип проверки обязателен</div>
        </div>
        </div>
      </div>
    </div>

    <div class="container mb-3">
      <div class="row mb-1 justify-content-center text-center">
        <h5 class="mb-0 text-uppercase fw-bold col-7 col-md-4 col-lg-3">Текст задания <strong class="text-danger">*</strong></h5>
      </div>
      <div class="row justify-content-center text-center">
        <ckeditor [data]="task?.taskText ?? ''" [ngClass]="{'is-invalid': invalid('taskText')}" [editor]="Editor" [config]="config" (change)="updateRTE($event)"></ckeditor>

        <div *ngIf="invalid('taskText')" class="invalid-feedback col-3">Текст задания обязателен</div>
      </div>
    </div>

    <div *ngIf="taskForm.controls['answerType'].value == 'CODE'" class="container mb-3 col-7">
      <div class="row mb-1 justify-content-center text-center">
        <h5 class="mb-0 text-uppercase fw-bold col-4">Код <strong class="text-danger">*</strong></h5>
      </div>

      <div class="row justify-content-center">
        <div formArrayName="taskAns">
          <div *ngFor="let answer of taskAns.controls; let i = index">
            <ngx-codemirror [formControlName]="i"
                            [options]="options"
            ></ngx-codemirror>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="taskForm.controls['answerType'].value == 'VARIANTS'" class="container mb-3 col-12 col-md-10 col-lg-8">
      <div class="row mb-1 justify-content-center text-center">
        <h5 class="mb-0 text-uppercase fw-bold col-12">Варианты ответов <strong class="text-danger">*</strong></h5>
      </div>

      <div class="row justify-content-center text-center">
        <div formArrayName="taskAns">
          <div *ngFor="let answer of taskAns.controls; let i = index">
            <input class="col-7 col-md-5 col-lg-4 m-1 text-center" [formControlName]="i" placeholder="Введите вариант ответа"
                   [ngClass]="{'is-invalid': invalidAnswer(taskAns.controls[i])}">
            <button class="btn btn-primary col-2 col-lg-1 m-1" (click)="deleteAns(i)">-</button>
            <div class="invalid-feedback">Ответ обязателен</div>
          </div>
        </div>

        <button class="btn btn-primary p-2 col-7 col-md-4 col-lg-3 m-1" (click)="addAns()">Добавить вариант</button>
      </div>


    </div>

    <div *ngIf="taskForm.controls['answerType'].value == 'VALUE'" class="container mb-3">
      <div class="row mb-1 justify-content-center text-center">
        <h5 class="mb-0 text-uppercase fw-bold col-7 col-md-5 col-lg-4">Ответ <strong class="text-danger">*</strong></h5>
      </div>

      <div class="row justify-content-center text-center">
        <div formArrayName="taskAns">
          <div *ngFor="let answer of taskAns.controls; let i = index">
            <input [formControlName]="i" class="col-7 col-md-5 col-lg-4 m-1"
                      placeholder="Введите ответ" [ngClass]="{'is-invalid': invalidAnswer(taskAns.controls[i])}">
            <div class="invalid-feedback">Ответ обязателен</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="taskForm.controls['answerType'].value == 'DETAILED'" class="container mb-3">
      <div class="row mb-1 justify-content-center text-center">
        <h5 class="mb-0 text-uppercase fw-bold col-7 col-md-5 col-lg-4">Ответ <strong class="text-danger">*</strong></h5>
      </div>

      <div class="row justify-content-center text-center">
        <div formArrayName="taskAns">
          <div *ngFor="let answer of taskAns.controls; let i = index">
            <textarea [formControlName]="i" class="col-7 col-md-5 col-lg-4 m-1" style="resize: both" rows="4"
                      placeholder="Введите ответ" [ngClass]="{'is-invalid': invalidAnswer(taskAns.controls[i])}"></textarea>
            <div class="invalid-feedback">Ответ обязателен</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="taskForm.controls['answerType'].value == 'TABLE'" class="container mb-3">
      <div class="row mb-1 justify-content-center text-center">
        <h5 class="mb-0 text-uppercase fw-bold col-7 col-md-5 col-lg-4">Таблица ответа <strong class="text-danger">*</strong></h5>
      </div>

      <tables-constructor class="mx-auto" (resultTable)="updateTable($event, 'answers')" [initTable]="answerTable"></tables-constructor>
    </div>

    <div class="container mb-3">
      <div class="row mb-1 justify-content-center text-center">
        <h5 class="mb-1 text-uppercase fw-bold col-7 col-md-4 col-lg-3">Предмет <strong class="text-danger">*</strong></h5>
      </div>

      <div class="row mb-1 justify-content-center text-center">
        <div ngbDropdown class="d-inline-block col-7 col-md-4 col-lg-3">
          <button type="button" class="drop-btn btn-primary drop-btn p-2 col-12"
                  (focusout)="taskForm.controls['selectedSubject'].markAsTouched()"
                  [ngClass]="{'is-invalid': invalid('selectedSubject')}" ngbDropdownToggle>
            {{taskForm.controls['selectedSubject'].value}}
          </button>
          <div class="invalid-feedback col-4">Предмет обязателен</div>
          <div ngbDropdownMenu class="text-center col-12">
            <button ngbDropdownItem class="nav-btn col-12" *ngFor="let subject of subjects"
                    (click)="this.taskForm.controls['selectedSubject'].setValue(subject.subjectName); this.pageUnload();">{{ subject.subjectName }}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-3">
      <div class="row mb-1 justify-content-center text-center">
        <div class="col-7 col-md-4 col-lg-3 mb-3">
          <h5 class="mb-1 text-uppercase fw-bold ">Ссылка на разбор</h5>
          <input class=" col-12 m-1 text-center" formControlName="analysis" placeholder="Введите ссылку">
        </div>
        <div class="col-7 col-md-4 col-lg-3">
          <h5 class="mb-1 text-uppercase fw-bold">Баллы за задание</h5>
          <input type="number" class="col-12 m-1 text-center" formControlName="cost" placeholder="Введите балл">
        </div>
      </div>
    </div>

    <div class="container mb-3">
      <div class="row mb-1 justify-content-center text-center">
        <div class="col-7 col-md-4 col-lg-3 mb-3">
          <h5 class="mb-1 text-uppercase fw-bold ">Тема первого уровня <strong class="text-danger">*</strong></h5>
          <input class=" col-12 m-1 text-center" formControlName="level1" placeholder="Введите тему"
                 [ngClass]="{'is-invalid': invalid('level1')}">
          <div class="invalid-feedback">Тема первого уровня обязательна</div>
        </div>
        <div class="col-7 col-md-4 col-lg-3">
          <h5 class="mb-1 text-uppercase fw-bold">Тема второго уровня</h5>
          <input class="col-12 m-1 text-center" formControlName="level2" placeholder="Введите тему">
        </div>
      </div>
    </div>

    <div class="row mb-3 justify-content-center text-center">
      <input type="file" multiple class="col-7 col-md-4 col-lg-3" (change)="saveFile($event)">
    </div>
    <div class="row">

    <div *ngIf="lightboxGallery.length > 0" class="container text-center mb-2">
      <h5 class="mb-0 text-uppercase fw-bold col-3 mx-auto mb-2">Картинки</h5>
      <div *ngFor="let image of lightboxGallery; let i = index" class="lb-images d-inline-block mx-1 mt-1">
        <img class="top-0" [src]="image.thumb" width="200px"
             height="auto" (click)="open(i)" alt="image">
        <figcaption>{{image.caption}}</figcaption>
        <button class="btn btn-primary" type="button" (click)="deleteFile(image)">Удалить файл</button>
      </div>
    </div>
    <div *ngIf="otherFiles.length > 0" class="container justify-content-center text-center mb-2">
      <h5 class="mb-0 text-uppercase fw-bold col-3 mx-auto mb-2">Файлы</h5>
      <div *ngFor="let file of otherFiles; let i = index" class="lb-images mx-1 mt-1">
        <a [href]="env.filesPath + file" download>
          <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="50px" height="50px">    <path d="M24.707,8.793l-6.5-6.5C18.019,2.105,17.765,2,17.5,2H7C5.895,2,5,2.895,5,4v22c0,1.105,0.895,2,2,2h16c1.105,0,2-0.895,2-2 V9.5C25,9.235,24.895,8.981,24.707,8.793z M18,21h-8c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1h8c0.552,0,1,0.448,1,1 C19,20.552,18.552,21,18,21z M20,17H10c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1h10c0.552,0,1,0.448,1,1C21,16.552,20.552,17,20,17 z M18,10c-0.552,0-1-0.448-1-1V3.904L23.096,10H18z"/></svg>
        </a>
        <figcaption>{{file}}</figcaption>
        <figcaption><button class="btn btn-primary" type="button" (click)="deleteFile(file)">Удалить файл</button></figcaption>
      </div>
    </div>
  </div>

    <div class="container mb-4">
      <div class="mx-auto mb-1 col-8 col-md-6 col-lg-4">
        <div class="row mb-1 justify-content-center text-center">
          <h5 class="mb-0 text-uppercase fw-bold col-7 col-md-4 col-lg-3">Таблица</h5>
        </div>
      </div>
      <tables-constructor (resultTable)="updateTable($event, 'table')" [initTable]="this.task?.table"></tables-constructor>
    </div>



    <div class="row mb-1 justify-content-center text-center">
      <button class="btn btn-primary col-3 m-1" (click)="goBack()">Назад</button>
      <button class="btn btn-primary col-3 m-1" [disabled]="taskForm.invalid" (click)="submit()">Сохранить</button>
    </div>

  </form>
</div>
