<div class="container-fluid px-3 pb-3">
  @if (pageLoaded) {
    <div [formGroup]="taskAnswers"
         class="container-fluid mx-auto p-3  min-vh-100 border-opacity-25 rounded-4
         border border-2 col-12 plate text-le">
      <div class="row mx-0 mb-5">
        <h1>{{ homework.name }}</h1>
        <button type="button" class="btn btn-primary col-7 col-md-4 col-lg-3" (click)="submit()">Отправить</button>
      </div>
      @for(taskId of tasksOrdering; track taskId) {
        <div class="d-inline">
          @let taskChecking = homework.taskChecking[taskId];
          @let pupilAnswer = attempt.answers[taskChecking.task.id];
          @let task = taskChecking.task;
          @let checkingType = taskChecking.checkingType;

          <h3><u>Название: {{ task.name }}</u></h3>
          <h3><u>Тема: {{ task.level1 }}</u></h3>
          <h3><u>Подтема: {{ task.level2 }}</u></h3>
          <h3><u>Номер: {{ task.id }}</u></h3>
          <h3><u>Баллы: {{ task.cost }}</u></h3>

          <div class="container-fluid mx-auto p-3 mb-5 min-vh-70 border-opacity-25 rounded-4 border border-2 col-12 plate text-le">
            <p style="white-space: pre-line" [innerHTML]="task.taskText"></p>

            <div class="d-inline-block mb-3">
              @for (image of task.files; track image) {
                @if (checkImage(image)) {
                  <img class="m-2 border-opacity-25 border border-2"
                       [src]="env.filesPath + image" width="200px" height="auto" alt="">
                }
              }
            </div>

            <task-table class="row" table="{{task.table}}"></task-table>

            @if (task.answerType == 'VARIANTS') {
              @for (answer of task.answers; track answer; let i = $index) {
                <div
                  class="mt-2 border rounded-4 col-5 p-2"
                  [ngClass]="pupilAnswer && checkingType === 'INSTANCE' ?
                    {
                      'is-invalid': pupilAnswer.answer === answer && pupilAnswer.status === AnswerStatuses.WRONG,
                      'is-valid': pupilAnswer.answer === answer && pupilAnswer.status === AnswerStatuses.RIGHT
                    } : {}"
                >
                  <input
                    class="m-0 col-1"
                    type="radio"
                    [name]="task.id.toString()"
                    value="{{answer}}"
                    [formControlName] = "task.id.toString()"
                    (change)="pupilAnswer && pupilAnswer.status? pupilAnswer.status = AnswerStatuses.ON_CHECKING : pupilAnswer"
                    [id]="answer"
                  >
                  <label class="col-1" [for]="answer">{{answer}}</label>
                </div>
              }
            }

            @if (task.answerType == 'VALUE') {
              <div class="mt-5">
                <input
                  [ngClass]="pupilAnswer && checkingType === 'INSTANCE' ?
                    {
                      'is-invalid': pupilAnswer.status === AnswerStatuses.WRONG,
                      'is-valid': pupilAnswer.status === AnswerStatuses.RIGHT
                    } : {}"
                  (change)="pupilAnswer && pupilAnswer.status? pupilAnswer.status = AnswerStatuses.ON_CHECKING : pupilAnswer"
                  [formControlName] = "task.id.toString()"
                  [value]="pupilAnswer && pupilAnswer.answer ? pupilAnswer.answer : ''"
                  placeholder="Введите ответ"
                >
              </div>
            }

            @if (task.answerType == 'DETAILED') {
              <div class="mt-5">
                <textarea
                  class="col-7 col-md-5 col-lg-4"
                  [formControlName]="task.id.toString()"
                  style="resize: both" rows="4"
                  placeholder="Введите ответ"
                  [ngClass]="pupilAnswer && checkingType === 'INSTANCE' ?
                    {
                      'is-invalid': pupilAnswer && pupilAnswer.status === AnswerStatuses.WRONG,
                      'is-valid': pupilAnswer && pupilAnswer.status === AnswerStatuses.RIGHT
                    } : {}"
                  (change)="pupilAnswer && pupilAnswer.status? pupilAnswer.status = AnswerStatuses.ON_CHECKING : pupilAnswer"
                >
                </textarea>
              </div>
            }

            @if (task.answerType === 'TABLE') {
              <tables-constructor
                class="mt-5"
                [ngClass]="pupilAnswer && checkingType === 'INSTANCE' ?
                  {
                    'is-invalid': pupilAnswer && pupilAnswer.status === AnswerStatuses.WRONG,
                    'is-valid': pupilAnswer && pupilAnswer.status === AnswerStatuses.RIGHT
                  } : {}"
                [initTable]="initTable(task.id)"
                (resultTable)="updateTable($event, task.id)"
              >
              </tables-constructor>
              <div class="invalid-feedback">Неверный ответ</div>
              <div class="valid-feedback">Верный ответ</div>
            }

            @if (checkFilesAvailability(task)) {
              <h2 class="mt-3">Файлы</h2>
              @for (file of task.files; track file) {
                <div class="row col-2 mt-1 mx-1">
                  @if (!checkImage(file)) {
                    <a class="mx-auto text-center" target="_blank" [href]="env.filesPath + file" download>
                      <i class="bi bi-file-earmark h1"></i>
                    </a>
                    <figcaption class="col-12 text-center overflow-anywhere">
                      {{file.substring(file.indexOf('$') + 1)}}
                    </figcaption>
                  }
                </div>
              }
            }

            @if (checkingType === 'INSTANCE') {
              <button
                type="button"
                class="mt-3 btn btn-primary col-7 col-md-4 col-lg-3"
                (click)="momentCheck(task)"
              >
                Проверить
              </button>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
