<!--<div *ngIf="pageLoaded" class="container-fluid px-3 pb-3">-->
@if (homework && attempt) {
  <div class="container-fluid mx-auto p-3  min-vh-100 border-opacity-25 rounded-4 border border-2 col-12 plate text-le">
    <statistic-container [pageLoaded]="pageLoaded" [homework]="homework" [attempt]="attempt"></statistic-container>
    @for (checking of homework.taskChecking | keyvalue; track checking) {
      <div class="d-inline m-3 mb-5">
        {{checking.value.task.id}}
        <check-task-card [pupilAnswer]="attempt.answers[Number(checking.key)]" [task]="checking.value.task"></check-task-card>
      </div>
    }
  </div>
}
<!--</div>-->
