<!-- Создание вкладок -->

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (activeIdChange)="navChange()">

  <!-- Вкладка с заявками на регу -->

  <li ngbNavItem="requests">
    <a ngbNavLink>Заявки</a>
    <ng-template ngbNavContent>
      <div *ngIf="!isChecksPageLoaded" class="spinner-border" role="status"></div>
      <table *ngIf="isChecksPageLoaded">
        <thead>
        <tr>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
          <th>Роль</th>
          <th>Дата</th>
          <th>Время</th>
          <th>Логин</th>
          <th>Одобрение</th>
        </tr>
        </thead>
        <tbody *ngFor="let check of checks">
        <tr>
          <td>{{check.surname}}</td>
          <td>{{check.name}}</td>
          <td>{{check.patronymic}}</td>
          <td>{{check.role}}</td>
          <td>{{check.date | date:'dd.MM.yyyy'}}</td>
          <td>{{check.date | date:'HH:mm'}}</td>
          <td>{{check.username}}</td>
          <td><button (click)="deleteCheck(check.id)">Одобрить</button></td>
        </tr>
        </tbody>
      </table>
    </ng-template>

  </li>

  <!-- Вкладка с добавлением учеников -->

  <li ngbNavItem="setTutors">
    <a ngbNavLink>Добавление учеников</a>

    <!-- Выбор предмета -->

    <ng-template ngbNavContent class="col-12">
      <div class="row mx-0 mt-3 mb-3 col-12 justify-content-center">
        <div class="container-fluid mx-3 min-vh-100 col-11 border-opacity-25 rounded-4 border border-2">
          <h1 class="m-3">Назначение учеников</h1>
          <h2 class="mx-3">Предмет</h2>
          <div ngbDropdown class="row col-4 col-md-3 col-lg-2 m-3">
            <button type="button" class="drop-btn btn-primary p-2" ngbDropdownToggle>{{currentSubject}}</button>
            <div ngbDropdownMenu class="text-center">
              <button ngbDropdownItem class="nav-btn" *ngFor="let subject of subjects" (click)="setSubject(subject)">{{ subject.subjectName }}</button>
            </div>
          </div>

          <!-- Выбор препода -->
          <div class="mx-3" *ngIf="currentSubject != 'Выберете предмет'">
            <h2>Преподаватель</h2>
            <div class="row">
              <div ngbDropdown class="col-6 col-md-5 col-lg-4 m-auto mx-0">
                <input 
                    placeholder="Выберете преподавателя" 
                    #tutorSearch
                    [value]="currentTutor ? currentTutor.surname + ' ' + currentTutor.name + ' ' + currentTutor.patronymic : ''"
                    class="p-2 col-12"
                    ngbDropdownToggle
                >
                <div ngbDropdownMenu class="dropdown-menu text-left">
                  <button 
                      [ngClass]="{active: currentTutor === tutor}"
                      class="nav-btn" 
                      ngbDropdownItem 
                      *ngFor="let tutor of tutors" 
                      (click)="currentTutor=tutor;getTutorPupilsBySubject();"
                      >
                        {{ tutor.surname + ' ' + tutor.name + ' ' + tutor.patronymic }}
                      </button>
                </div>
              </div>
              <pupils-select-modal class="m-auto mx-0 col-4 col-md-3 col-lg-2" (resultPupilIds)="enrollPupils($event)" [pupils]="pupils" [currentPupils]="selectedPupils"></pupils-select-modal>
            </div>
          </div>

          <div class="row m-1"></div>

          <!-- Вывод найденых учеников -->

          <ol *ngIf="selectedPupils.length !== 0">
            <li class="p-2 border-opacity-25 rounded-4 border border-2 m-2" *ngFor="let pupil of selectedPupils">{{ pupil.username }}</li>
          </ol>
        </div>
      </div>
    </ng-template>
  </li>

  <li ngbNavItem="tutorsHomework">
    <a ngbNavLink (click)="getHomeworks()">Назначение ДЗ</a>
    <ng-template ngbNavContent>
      <div *ngIf="homeworks.length === 0" class="spinner-border" role="status"></div>
      <table *ngIf="homeworks.length > 0">
        <thead>
          @for (prop of Object.keys(homeworkProps); track prop) {
            <th>
              {{homeworkProps[prop]}}
            </th>
          }
          <th>
            Действия
          </th>
        </thead>
        <tbody>
          @for(homework of homeworks; track homework) {
            <tr>
              @for (prop of Object.keys(homeworkProps); track prop) {
                <td>
                  @if(homework[prop]) {
                    {{homework[prop]}}
                  }
                </td>
              }
              <td>
                <homework-tutors-set-modal [homeworkId]="homework.id ?? -1" [subject]="homework.subject"></homework-tutors-set-modal>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </ng-template>

  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
